{% extends '@JoinWell/layoutPrivileged.html.twig' %}
{% block layoutContent %}
    Already scheduled visits:
    <table width="100%">
        <thead>
        <tr>
            <td>
                Episode title
            </td>

            <td>
                Doctor name
            </td>

            <td>
                date
            </td>

            <td>
                Join link
            </td>
        </tr>
        </thead>
        {% for meeting in meetingsList %}
            <tr>
                <td>
                    {{ meeting.visit.episode.subject }}
                </td>
                <td>
                    {{ meeting.visit.therapist.user.person.firstName }} {{ meeting.visit.therapist.user.person.lastName }}
                </td>
                <td>
                    {{ meeting.scheduledAt.format("Y-m-d H:i:s") }}
                </td>
                <td>
                    <a href="{{ meeting.clientUrl }}">join</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    Create you visit:
    <br/>
    Dr: {{ therapist.user.person.firstName }} {{ therapist.user.person.lastName }}<br/>
    Type: {{ therapist.type }}<br/>
    Speaks: {{ therapist.user.person.primaryLanguages }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
