{% extends '@JoinWell/layoutPrivileged.html.twig' %}
{% block layoutContent %}
    Provide your insurance info:
    {% if stored == true %}
        Thank you, for providing insurance info!
    {% else %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
