{% extends '@JoinWell/layoutPrivileged.html.twig' %}
{% block layoutContent %}
    Provide your payment info:
    {% if stored %}
        Thank you, for providing payment info!
    {% else %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
