{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets filter='cssrewrite' output='css/*.css'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% javascripts 'https://code.jquery.com/jquery-1.11.0.min.js'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        {% block layoutContent %}
        {% endblock %}
{% endblock %}
