{% extends '@JoinWell/layout.html.twig' %}
{% block layoutContent %}
    Checking service availability
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    FOUND: {{ found }}

    {% if pages > 1 %}
        <div class="container">
            {# Render each page number #}
            {% for therapist in list %}
                <div class="row">
                    <div class="col">
                        {{ therapist.id }}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col">
                    Displays by ({{ perPage }}) per page
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
